{% extends "base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}
<title>{% block title %} Happy Leeks | Login {% endblock %}</title>
{% block content %}

<div class="container login-form p-3 mt-5 mb-3 rounded">
  <div class="row justify-content-around align-items-center">
    <div class="col-lg-4 col-md-12">
      <h1 class="text-center">{% trans "Log In" %}</h1>
      <hr class="border border-dark border-2">
      <div class="card-body">
        <p>{% blocktrans %}To book a table with us at Happy Leeks, please log in.
          <br>No account with us yet?
          <a href="{{ signup_url }}"> SIGN UP</a>!{% endblocktrans %}</p>
      </div>
      <div class="card-body">
        <form class="login" method="POST" action="{% url 'account_login' %}">
          {% csrf_token %}
          {{ form.as_p }}
          {% if redirect_field_value %}
          <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
          {% endif %}

          <button class="btn btn-secondary btn-sm" type="submit">{% trans "Log In" %}</button>
        </form>
      </div>


    </div>
    <div class="col-lg-4 col-md-12">
      <div class="card-body">
        <img
          src="https://res.cloudinary.com/dwztcnhyh/image/upload/v1689260178/pexels-roman-muntean-17402700_ynly3w_tjhvgg.webp"
          class="img-login img-fluid rounded" alt="Outdoor table with flowers" height="500px" width="200px">
      </div>
    </div>
  </div>
</div>
{% endblock %}