/* Google Fonts*/

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&family=Playfair+Display:ital,wght@0,400;0,500;1,400;1,500&display=swap');

/*General styles*/

.content {
    min-height: calc(100vh - 90px);
}

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: #3a3a3a;
    
}


/*Navigation bar */

.container-fluid {
    background-color: hsl(76, 32%, 67%, 0.7);
}
.navbar {
    padding: 0rem;
}

.navbar-brand {
    padding: 1rem 1rem;
    font-family: 'Playfair Display', sans-serif;
    font-size: 2rem;
}

.navbar-nav {
    padding-right: 4rem;
    justify-content: space-between;
    gap: 3rem;
    --bs-nav-link-hover-color: #000;
}
.navbar ul a {
    font-weight: bolder;
    font-size: 1.1rem;
}


/* Footer */

.fixed-bottom {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 1030;
    background-color: hsl(76, 32%, 67%, 0.7);
    min-width: 100vw;
    height:fit-content;
} 

.social-networks {
    text-align: center;
}

.social-networks>li {
    display: inline;
    
}

.social-networks i {
    font-size: 1.5rem;
    align-items: center;
    margin: 0.8rem auto;
    padding: 0 20px;
    color: #0E6461;
}

footer p {
    text-align: center;
}