{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Happy Leeks. Vegan Cafe serving breakfast and lunch.">
    <meta name="keywords" content="food, cafe, vegan, breakfast, lunch, coffee, good vibes">
    <meta name="author" content="Sina Stiller">
    <title>{% block title %} Happy Leeks | Vegan Cafe 🌱 {% endblock %}</title>

    <!-- Facivon -->
    <link rel="apple-touch-icon" sizes="180x180"
        href="https://res.cloudinary.com/dwztcnhyh/image/upload/v1687965863/apple-touch-icon_u9o3df.png">
    <link rel="icon" type="image/png" sizes="32x32"
        href="https://res.cloudinary.com/dwztcnhyh/image/upload/v1687965864/favicon-32x32_xbbghh.png">
    <link rel="icon" type="image/png" sizes="16x16"
        href="https://res.cloudinary.com/dwztcnhyh/image/upload/v1687965864/favicon-16x16_nfykn3.png">

    <!-- Bootstrap CSS CDN -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">

    <!-- CSS -->
    <link rel="stylesheet" href="/static/css/style.css">
</head>

<body class="d-flex flex-column vh-100 main-bg">
    <header>
        <!-- Navigation bar-->
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div id="navbar" class="container-fluid">

                <a class="navbar-brand mb-0 h1" href="{% url 'index' %}"> Happy Leeks <img
                        src="https://res.cloudinary.com/dwztcnhyh/image/upload/v1687965864/favicon-32x32_xbbghh.png"
                        alt="logo"> </a>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="{% url 'index' %}">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'menu:menu_list' %}">Menu</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Book a Table</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                My Account
                            </a>
                            <ul class="dropdown-menu">
                                {% if user.is_authenticated %}
                                <li><a class="dropdown-item" href="{% url 'account_logout' %}">Logout</a></li>
                                {% else %}
                                <li><a class="dropdown-item" href="{% url 'account_signup' %}">Sign Up</a></li>
                                <li><a class="dropdown-item" href="{% url 'account_login' %}">Login</a></li>
                                {% endif %}
                                
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    
    <main>
    {% block content %}
    {% endblock content %}
    </main>

    <footer class="footer">
        <div>
            <ul class="social-networks">
                <li>
                    <a href="http://facebook.com" target="_blank" rel="noopener"
                        aria-label="Visit out Facebook page (opens in a new tab)"><i
                            class="fa-brands fa-facebook"></i></a>
                </li>
                <li>
                    <a href="http://instagram.com" target="_blank" rel="noopener"
                        aria-label="Visit out Instagram page (opens in a new tab)"><i
                            class="fa-brands fa-instagram"></i></a>
                </li>
                <li>
                    <a href="http://twitter.com" target="_blank" rel="noopener"
                        aria-label="Visit out Twitter page (opens in a new tab)"><i
                            class="fa-brands fa-twitter"></i></a>
                </li>
                <li>
                    <a href="http://pinterest.com" target="_blank" rel="noopener"
                        aria-label="Visit out Pinterest page (opens in a new tab)"><i
                            class="fa-brands fa-pinterest"></i></a>
                </li>
            </ul>
            <p>&copy; <em id="date"></em> Sina Stiller</p>
        </div>
    </footer>

    <!-- Font Awesome Script -->
    <script src="https://kit.fontawesome.com/3281dfb8c8.js" crossorigin="anonymous"></script>

    <!-- Bootstrap JS CDN-->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"
        integrity="sha384-fbbOQedDUMZZ5KreZpsbe1LCZPVmfTnH7ois6mU1QK+m14rQ1l2bGBq41eYeM/fS" crossorigin="anonymous">
    </script>

    <script src="../static/js/script.js"></script>
</body>

</html>