{% extends 'base.html' %}

{% block content %}
<!-- About section-->
<div class="container-fluid px-2 py-3" id="about">
    <div class="container overflow-hidden text-center">
        <div class="row gx-5">
            <div class="col-lg-5 col-md-12 align-self-center border border-end-0 border-5">
                <div class="p-3">
                    <h2 class="intro-about-section">Happy Leeks is a beloved vegan cafe that goes beyond serving
                        delicious
                        plant-based food!</h2>
                    <hr class="border border-dark border-2 ">
                    <p class="about-section">We are committed to creating a nurturing space where people can connect,
                        explore sustainable
                        living, and indulge in mouthwatering dishes. Our menu features a diverse range of flavorful,
                        cruelty-free options that cater to all dietary preferences. We source locally and prioritize
                        eco-friendly practices to minimize our environmental footprint. At Happy Leeks, we believe in
                        the
                        power of food to create positive change in the world. Join us as we redefine vegan cuisine and
                        spread
                        happiness one leek at a time!
                    </p>
                </div>
            </div>
            <div class="col-lg-7 col-md-12 align-self-center">
                <div class="p-3">
                    <img src="https://res.cloudinary.com/dwztcnhyh/image/upload/v1688049026/daan-evers-tKN1WXrzQ3s-unsplash_w69y3q.jpg"
                        class="img-fluid rounded float-end cafe-inside" alt="inside of cafe">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- About section-->

<!-- Essential information -->
<div class="container-fluid px-2 py-3" id="info">
    <div class="container overflow-hidden">
        <div class="row gx-5">
            <div class="col-lg-7 col-md-12 align-self-center">
                <!-- Map goes here -->
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d37017.765036237164!2d-6.304438352041997!3d53.3539206444324!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x486711faed4864bf%3A0x300c7acf18002c0!2sDublin%20City%2C%20Co.%20Dublin!5e0!3m2!1sen!2sie!4v1688116703256!5m2!1sen!2sie"
                    width="600" height="400" style="border:2px solid;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
            <div class="col-lg-5 col-md-12 align-self-center" id="get-in-touch">
                <div class="p-3">
                    <div class="p-3">
                        <h4 class="text-center">Get in Touch!</h4>
                        <hr class="border border-dark border-2">
                        <h5 class="text-center">Opening Hours <i class="fa-regular fa-clock"></i></h5>
                        <div class="row">
                            <div class="col-6">
                                <p>Monday</p>
                                <p>Tuesday</p>
                                <p>Wednesday</p>
                                <p>Thursday</p>
                                <p>Friday</p>
                                <p>Saturday</p>
                                <p>Sunday</p>
                            </div>
                            <div class="col-6">
                                <p>Closed</p>
                                <p>08:00 - 16:00</p>
                                <p>08:00 - 16:00</p>
                                <p>08:00 - 16:00</p>
                                <p>08:00 - 16:00</p>
                                <p>09:00 - 16:00</p>
                                <p>Closed</p>
                            </div>
                        </div>
                        <h5 class="text-center">Find Us <i class="fa-solid fa-location-dot"></i></h5>
                        <p>123 Greenwood Avenue</p>
                        <p>Dublin 25</p>
                        <p>County Larkspur</p>
                        <p>IRELAND</p>
                        <h5 class="text-center">Contact Us</i></h5>
                        <p><i class="fa-solid fa-phone"></i> +353 85 123 4567</p>
                        <p><i class="fa-regular fa-envelope"></i> happyleeks@gmail.com</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Essential Information -->
{% endblock content %}