{% extends 'base.html' %}
<title>{% block title %} Happy Leeks | Manage Bookings {% endblock %}</title>

{% block content %}
<div class="row row-cols-1 row-cols-md-2 m-3 g-4">
  {% for booking in bookings %}
  <div class="col-md-4 offset-md-4 col-sm-6 offset-sm-3">
    <div class="card manage border border-0 d-flex justify-content-center h-100 mx-2">
      <div class="card-body h-100 mx-2">
        <h4 class="text-center">
          Name of booking: {{ booking.name }}
        </h4>
        <div class="card-text">
          <div class="align-self-center">
            <p class="mb-1"><strong>Date & Time:</strong> {{ booking.date }} {{ booking.time }}</p>
            <p class="mb-3"><strong>Number of Guests:</strong> {{ booking.number_of_guests }}</p>
          </div>
          <a href="{% url 'booking:edit_booking' booking.id %}" class="btn btn-success">Edit</a>
          <a href="{% url 'booking:delete_booking' booking.id %}" class="btn btn-danger" data-bs-toggle="modal"
            data-bs-target="#deleteMessage">Delete</a>
          <div class="modal fade" id="deleteMessage" tabindex="-1" aria-labelledby="deleteMessageLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="deleteMessageLabel">Confirm Delete Request</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  Are you sure you want to delete your reservation?
                </div>
                <div class="modal-footer">
                  <button type="button" class="mt-2 mb-3 btn btn-secondary" data-bs-dismiss="modal">CLOSE</button>
                  <a class="mt-2 mb-3 btn btn-secondary" href="{% url 'booking:delete_booking' booking.id %}">DELETE</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
</div>

{% endblock content %}